@model DBO.Data.ViewModels.BaseCompanyInfoViewModel

@{
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
}
<link href="~/Content/registration.css" rel="stylesheet" />
<div class="container-fluid" id="fullScreenDiv">

    <div id="overlay">
        <div class="container submit">
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <div col-md-1>
                </div>
                <div class="col-sm-11 col-md-11">
                    <h3 class="white">
                        Tak for din interesse, du hører fra os, så snart vi går online
                    </h3>
                </div>
                <div col-md-1>
                </div>
            </div>
            <div class="row">
                <p></p>
            </div>
        </div>
    </div>
</div>
