<p><img alt="Test" src="cid:header" style="width:100%; background-size: cover; background-position: bottom;" />
    Hej @@User@@</p>

<p>N&aring;r en virksomhed skal bruge en leverand&oslash;r, v&aelig;lger mange blot at benytte de leverand&oslash;rer, de tidligere har benyttet.</p>

<p>Og hvorfor nu det?</p>

<p>&nbsp;</p>

<ul>
    <li>Fordi de kender dem og ved hvad de st&aring;r for</li>
    <li>Fordi de ikke lige ved, hvor de skal finde nye</li>
    <li>Fordi det er sv&aelig;rt og tidskr&aelig;vende at unders&oslash;ge hvad eventuelle nye leverand&oslash;rer st&aring;r for, og hvad de tidligere har leveret</li>
    <li>Fordi det ganske enkelt er nemmere</li>
</ul>

<p>&nbsp;</p>

<p>Men s&aring; ved du jo heller ikke, om du f&aring;r udf&oslash;rt dine opgaver til den rette pris - eller om andre ville have kunne udf&oslash;re jobbet i en bedre kvalitet? Eller p&aring; kortere tid?</p>

<p><strong>Det er her DBO kommer ind i billedet</strong></p>

<p>P&aring; DBO kan du sl&aring; dine opgaver op, og du kan lynhurtigt danne dig et billede af de virksomheder, der byder ind p&aring; dit job. Ligesom du nemt og hurtigt kan sammenligne de indkomne bud.</p>

<p>Du har ogs&aring; muligheden for selv at byde ind p&aring; interessante opgaver, og dermed opn&aring; meroms&aelig;tning.</p>

<p>Du opbygger din virksomheds profil, s&aring; du synligg&oslash;r dig overfor nuv&aelig;rende og kommende samarbejdspartnere. P&aring; DBO er det nemlig DIG, der bestemmer hvordan DIN virksomhed skal pr&aelig;senteres, og hvilke nyheder du gerne vil have ud - slut med en masse pressemeddelelser, der m&aring;ske, og m&aring;ske ikke bliver trykt. Slut med at pressen bestemmer hvilken drejning din historien skal have.</p>

<p>Med DBO er du herre i eget hus</p>

<p>DBO er for virksomheder, hvad Linkedln og Facebook er for erhvervsfolk i virksomhederne.</p>

<p>Sammen st&aring;r vi st&aelig;rkere - og med DBO st&aring;r du rigtig st&aelig;rkt!</p>

<p>Hvis ovenst&aring;ende lyder interessant, s&aring; klik p&aring; billedet herunder, hvorefter du blot skal klikke p&aring; &quot;Ja tak, jeg vil gerne have besked&quot;.</p>

<p><a href="/"><img alt="Test" src="cid:logo" style="height:132px; width:320px" /></a></p>

<p>
    Venlig hilsen<br />
    Kim Danielsen
</p>
