@model int

<button class="btn btn-success col-sm-12" style="font-size:  13px;
                                                text-align:  left;
                                                padding: 10px;
                                                margin-top:10px;
                                                 color:#212529;">
    <span class="fa fa-eye" style="margin:auto 10px auto 10px;"></span>
    @ResourceString.Instance.Following
</button>

@{
    var label = ResourceString.Instance.StopFollowing as string;
}

@Html.ActionLink(label, "Unfollow", "Connections", new { companyId = Model }, new { style = "color:gray; text-decoration:none;font-size:12px; margin-top:10px", @class = "pull-right btn btn-default" })