
<button class="btn btn-default col-sm-12" style="font-size:  13px;
                                                text-align:  left;
                                                padding: 10px;">
    <span class="fa fa-plug" style="margin:auto 10px auto 10px;"></span>
   <i>@ResourceString.Instance.WaitingForAccept</i>
</button>